* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

#main {
  height: 100%;
  margin: 0 auto;
}
#main .header {
  height: 140px;
  margin: 0 auto;
  max-width: 1168px;
}
#main .header .header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 0;
}
#main .header .header__content .header__content-tel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#main .header .header__content .header__content-tel span.tel {
  margin-left: 5px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #999999;
}
#main .header .header__content .header__content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .header .header__content .header__content-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#main .header .header__content .header__content-menu .sub_menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#main .header .header__content .header__content-menu .sub_menu .sub_menu_item {
  float: left;
}
#main .header .header__content .header__content-menu .sub_menu .sub_menu_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #999999;
  height: 20px;
}
#main .header .header__content .header__content-menu .sub_menu .sub_menu_item a .user_login {
  margin-left: 5px;
}
#main .header .header__content .header__content-menu .sub_menu .sub_menu_item a .sub_menu_item--user_login_icon {
  width: 1rem;
}
#main .header .header__content .header_layout {
  flex: 1 1 0;
}
#main .header .header__nav {
  width: auto;
  height: 55px;
  border-top: 1px solid #ececec;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#main .header .header__nav #site_nav {
  display: flex;
  flex: 1 1 0;
  height: inherit;
}
#main .header .header__nav #site_nav .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#main .header .header__nav #site_nav .nav li {
  box-sizing: border-box;
  height: 55px;
  float: left;
  border-top: 1px solid transparent;
}
#main .header .header__nav #site_nav .nav li:hover {
  border-top: 1px solid #29c4a6;
}
#main .header .header__nav #site_nav .nav li a {
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
#main .header .header__nav #site_nav .nav li a:hover {
  color: #29c4a6;
}
#main .header .header__nav .header__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  flex: 1 1 0;
}
#main .header .header__nav .header__icons .wrap_search {
  display: flex;
  flex-direction: row;
  border: 1px solid #ececec;
  border-radius: 600px;
  height: inherit;
  justify-content: center;
  align-items: center;
  max-width: 270px;
}
#main .header .header__nav .header__icons .wrap_search #search_input {
  height: 20px;
  color: #999999;
  font-size: 1rem;
  padding: 10px 10px 10px 0;
  margin-left: 20px;
  outline: none;
  max-width: 200px;
}
#main .header .header__nav .header__icons .wrap_search .search_icon_link {
  text-decoration: none;
}
#main .header .header__nav .header__icons .wrap_search .search_icon_link .search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 20px;
}
#main .header .header__nav .header__icons .wrap_search .search_icon_link .search_icon .svg_icon {
  width: 2rem;
}
#main .header .header__nav .header__icons .wrap_search .search_icon_link .search_icon .svg_icon:hover {
  filter: invert(59%) sepia(52%) saturate(635%) hue-rotate(118deg) brightness(102%) contrast(75%);
}
#main .header .header__nav .header__icons a {
  text-decoration: none;
}
#main .header .header__nav .header__icons a .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
}
#main .header .header__nav .header__icons a .icon .svg_icon {
  width: 2rem;
}
#main .header .header__nav .header__icons a .icon .svg_icon:hover {
  filter: invert(59%) sepia(52%) saturate(635%) hue-rotate(118deg) brightness(102%) contrast(75%);
}
#main .header .header__nav .header__icons a .icon .circle {
  position: relative;
  margin-left: 5px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #20c4a4;
  border-radius: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .header .header__nav .header__icons a .icon .circle .cartCount {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}
#main .header .header__nav .header__icons a .header__icons--heart.icon {
  margin-left: 10px;
}
#main .page_content {
  margin: 0 auto;
  box-sizing: border-box;
}
#main .page_content .page_banner {
  padding: 30px 0;
  width: 100%;
  background-color: #fafafa;
}
#main .page_content .page_banner .page_banner_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
  max-width: 1168px;
  height: inherit;
  box-sizing: border-box;
  margin: 0 auto;
  height: 560px;
}
#main .page_content .page_banner .page_banner_layout .left_banner {
  flex: 0 0 41.5%;
  position: relative;
  max-width: 485px;
  padding-right: 10px;
}
#main .page_content .page_banner .page_banner_layout .left_banner .left_banner_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 58%;
  left: 10%;
  width: auto;
}
#main .page_content .page_banner .page_banner_layout .left_banner .left_banner_content .banner_title {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
}
#main .page_content .page_banner .page_banner_layout .left_banner .left_banner_content .banner_sub_title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}
#main .page_content .page_banner .page_banner_layout .left_banner .left_banner_content .banner_btn {
  height: 30px;
  width: auto;
  padding: 0 5px 0 5px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
}
#main .page_content .page_banner .page_banner_layout .left_banner .left_banner_image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 39% 18%;
  display: block;
  position: relative;
  background-image: url("../images/left_banner.jpg");
}
#main .page_content .page_banner .page_banner_layout .right_banner {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  padding: 0 0 0 10px;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_up {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1 1 0;
  padding-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_up .right_banner_up_img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0% 20%;
  background-size: 110%;
  display: block;
  position: relative;
  background-image: url("../images/right_banner_1.jpg");
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_up .right_banner_up_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 57%;
  width: auto;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_up .right_banner_up_content .banner_title {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_up .right_banner_up_content .banner_sub_title {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_up .right_banner_up_content .banner_btn {
  height: 30px;
  width: auto;
  padding: 0 5px 0 5px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  padding: 10px 0 0 0;
  box-sizing: border-box;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_one {
  width: 100%;
  height: 100%;
  flex: 1 1 0;
  padding-right: 10px;
  position: relative;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_one .right_banner_one_img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 72% 0%;
  background-size: 200%;
  display: block;
  position: relative;
  background-image: url("../images/right_banner_2.jpg");
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_one .right_banner_one_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 22%;
  left: 10%;
  width: auto;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_one .right_banner_one_content .banner_title {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_one .right_banner_one_content .banner_sub_title {
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_one .right_banner_one_content .banner_btn {
  height: 30px;
  width: auto;
  padding: 0 5px 0 5px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_two {
  width: 100%;
  height: 100%;
  flex: 1 1 0;
  padding-left: 10px;
  position: relative;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_two .right_banner_two_img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 63% 18%;
  background-size: 108%;
  display: block;
  position: relative;
  background-image: url("../images/right_banner_3.jpg");
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_two .right_banner_two_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 22%;
  right: 10%;
  width: auto;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_two .right_banner_two_content .banner_title {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_two .right_banner_two_content .banner_sub_title {
  text-align: right;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}
#main .page_content .page_banner .page_banner_layout .right_banner .right_banner_down .right_banner_two .right_banner_two_content .banner_btn {
  height: 30px;
  width: auto;
  padding: 0 5px 0 5px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
}
#main .page_content .page_banner .service {
  display: flex;
  flex-direction: row;
  max-width: 1168px;
  margin: 0 auto;
  height: 60px;
  margin-top: 30px;
}
#main .page_content .page_banner .service .service_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 0;
}
#main .page_content .page_banner .service .service_item:nth-child(2), #main .page_content .page_banner .service .service_item:nth-child(3), #main .page_content .page_banner .service .service_item:nth-child(4) {
  margin-left: 20px;
}
#main .page_content .page_banner .service .service_item .wrap_banner_icon {
  margin-left: 10px;
}
#main .page_content .page_banner .service .service_item .wrap_banner_icon .item_title {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
#main .page_content .page_banner .service .service_item .wrap_banner_icon .item_subtitle {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #999999;
}
#main .page_content .shop_container {
  height: 1168px;
  max-width: 1168px;
  margin: 0 auto;
}
#main .page_content .shop_container .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  box-sizing: border-box;
}
#main .page_content .shop_container .category .category_title {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}
#main .page_content .shop_container .category .category_list {
  display: block;
  list-style: none;
}
#main .page_content .shop_container .category .category_list .category_item {
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  float: left;
  margin: 0 15px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #999999;
}
#main .page_content .shop_container .category .category_list .category_item:hover {
  color: #000000;
  border-bottom: 2px solid #000000;
}/*# sourceMappingURL=style.css.map */